@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Splash&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    /* font-family: splash; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#003049;
  background-image: image('./src/assets/art_banner_1.jpg');
  color: #eae2b7;

  /* font-family: 'Bebas Neue', cursive; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

} */

@layer base {
  body {
    /* font-family: 'Mochi Pop P One', sans-serif; */
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Monoton', cursive; */
  }
}

@layer components {
  .form_input_half {
    @apply w-[50%] p-2 m-2 rounded-md text-xl font-sans font-semibold text-black
  }
  .form_section_title {
    @apply w-full m-4 font-monoton md:text-[2.5rem] md:tracking-widest
  }

}


